body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;  
}

h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
margin-bottom: 0;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    color: currentColor;
}

input {
    font-family: inherit;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    /* width: 1158px; */
    /* padding: 0 15px;
    margin: 0 auto; */
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/** ==============HEADER================ */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    /* margin-right: 76px; */
}

.menu .part-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu-list {
    /* display: flex; */
    display: none;
    /* gap: 40px; */
}

/* .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-element {
position: relative;
color: #404bbf;
}

.menu-element::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
} */

/* .adres {
    font-style: normal;
    margin-left: auto;
} */

.adres-list {
    /* display: flex; */
    display: none;
    /* gap: 40px; */
}

/* .contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
} */

.header-menu-btn {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;
}

.mob-menu {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    position: none;
}

.header-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-btn-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-close-btn:hover,
.header-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.header-close-btn:hover>.mob-menu-btn-close-icon,
.header-close-btn:focus>.mob-menu-btn-close-icon {
    fill: #fff;
}

.mob-nav-menu {}

.mob-menu-list {}

.mob-menu-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.mob-menu-element {
    color: #404bbf;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: #404bbf;
}

.mob-menu-adres {}

.mob-menu-adres-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mob-menu-contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.mob-tel {
    color: #404bbf;
}

.mob-menu-contacts:hover,
.mob-menu-contacts:focus {
    color: #404bbf;
}


.mob-menu-social-list {
    display: flex;
    gap: 40px;
}

.mob-menu-social-list-item {}

.mob-menu-link-item {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-social-icon {
    fill: #f4f4fd;
}

/** ============================== */

/** ==============FIRST SECTION================ */

.first-sect {
    background: #2e2f42;
    display: block;
    /* max-width: 1440px; */
    max-width: 100%;
    /* margin: 0 auto; */
    /* padding-top: 188px;
    padding-bottom: 188px; */
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officemob@1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .first-sect {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officemob@2x.jpg);
    }
}

.hero-title {
    font-weight: 700;
    /* font-size: 56px;
    line-height: 1.07; */
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    /* max-width: 496px;
    margin: 0 auto 48px; */
    max-width: 216px;
    margin: 0 52px 72px;
}

.button-text {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
} 


.button-text:hover,
.button-text:focus {
background: #404bbf;
}

/** ============================== */

/** ==============SECOND SECTION================ */

.second-sect {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.second-sect .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-list-icon {
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; */
    display: none;
}

.second-list-icon-wrap {
    /* border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.page {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
}

.page-list {
    /* width: calc((100% - 72px) / 4); */
    width: 100%;
}

.page-title {
    /* font-weight: 500;
    font-size: 20px; */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.page-text {
    /* font-weight: 400; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/** ============================== */

/** ==============THIRD SECTION================ */

.third-sect {
    background: #f4f4fd;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.photo-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    /* gap: 24px; */
}

.photo-list-item {
    background: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.title-wrap-container {
padding-top: 32px;
padding-bottom: 32px;
}

.photo-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.photo-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.social-team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link-team {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-team-icon {
    fill: #f4f4fd;
}

.social-link-team:hover,
.social-link-team:focus {
    background-color: #404BBF;
}

/** ============================== */

/** ==============FOURTH SECTION================ */

.fourth-sect {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.card-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    /* column-gap: 24px;
    row-gap: 48px; */
}

.card-image {
    display: block;
    width: 288px;
    height: auto;
}

.card-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list-item:hover .card-cover-text{
    transform: translateY(0);
}

.card-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-img-wrap {
position: relative;
overflow: hidden;
}

.card-cover-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/** ============================== */

/** ==============FOOTER================ */

.ground {
    background: #2e2f42;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.ground-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-items: baseline; */
}

.logo-container {
    /* margin-right: 120px; */
}

.logo-link {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding: 0;
}

.ground .part-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.ground .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-bottom: 72px;
}

.footer-social-container {
    width: 208px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 72px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-link-item {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: #f4f4fd;
}

.footer-link-item:hover,
.footer-link-item:focus {
    background-color: #31D0AA;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 288px;
    height: 136px;
    /* width: 453px;
    height: 80px;
    margin-left: 80px; */
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 24px; */
    gap: 16px;
}

.form-input {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    /* width: 264px; */
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    padding-left: 16px;
    /* color: #ffffff; */
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

input::placeholder {
    color: #ffffff;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404bbf;
}

.form-btn-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    position: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.btn-close:hover > .btn-close-icon, 
.btn-close:focus > .btn-close-icon {
    fill: #fff;
}

.modal-field {
    margin-bottom: 8px;
}

.comment-modal {
    margin-bottom: 16px;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-input-wrap {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
    fill: #4d5ae5;
}

.modal-text {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.btn-send {
    display: block;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    margin: auto;
    min-width: 169px;
    height: 56px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover, 
.btn-send:focus {
    background-color: #404bbf;
}

.checkbox-modal-field {
    margin-bottom: 24px;
}

.check-text {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.check-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.check-text span {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .logo {
        margin-right: 120px;
    }

    .menu-list {
        display: flex;
        gap: 40px;
    }

    .menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-element {
        position: relative;
        color: #404bbf;
    }
    
    .menu-element::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
        height: 4px;
        width: 100%;
    }
    
    .menu-link:hover,
    .menu-link:focus {
        color: #404bbf;
    }

    .adres {
        display: block;
        font-style: normal;
        margin-left: auto;
    }

    .adres-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts {
        font-weight: 400;
        /* font-size: 16px; */
        font-size: 12px;
        /* line-height: 1.5; */
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
        .contacts:hover,
        .contacts:focus {
            color: #404bbf;
        }

    .header-menu-btn {
        display: none;
    }

    .first-sect {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officetab@1x.jpg);
    }
    
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
            .first-sect {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officetab@2x.jpg);
            }
    }

    .hero-title {
        max-width: 496px;
        margin: 0 auto 36px;
        font-size: 56px;
        line-height: 1.07;
    }

    .page {
    column-gap: 24px;
    row-gap: 72px;
    }

    .page-list {
        width: calc((100% - 72px) / 2);
    }

    .page-title {
        text-align: left;
    }

    .team-container {
        padding-left: 108px;
    }

    .photo-list {
        flex-direction: row;
        column-gap: 24px;
        row-gap: 64px;
    }

    .card-list {
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
    }

    .card-image {
        width: 356px;
    }

    .ground-container {
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .logo-container {
    margin-right: 24px;
    }

    .logo-link {
        justify-content: flex-start;
    }

    .footer-social-container {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .form-container {
        width: 453px;
        height: 80px;
        align-items: flex-start;
    }

    .form {
        flex-direction: row;
        gap: 24px;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo {
        margin-right: 76px;
    }

    .adres-list {
        flex-direction: row;
        gap: 40px;
    }    

    .contacts {
        font-size: 16px;
        line-height: 1.5;
    }

    .first-sect {
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officedesc@1x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px), 
        screen and (min-resolution: 192dpi) and (min-width: 1158px), 
        screen and (min-resolution: 2dppx) and (min-width: 1158px) {
        first-sect {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officedesc@2x.jpg);
        }
    }

    .hero-title {
        margin: 0 auto 48px;
    }

    .second-sect {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .second-list-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .second-list-icon-wrap {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page {
        gap: 24px;
    }

    .page-list {
        width: calc((100% - 72px) / 4);
    }

    .page-title {
        font-weight: 500;
        font-size: 20px;
    }

    .page-text {
        font-weight: 400;
    }

    .third-sect {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .fourth-sect {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .card-list {
        column-gap: 24px;
        row-gap: 48px;
    }

    .card-image {
        width: 360px;
    }
}